
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="alien" class="org.shivam.Alien">
        <!-- assign the value 21 to age by calling the setter (setter injection) -->
        <property name="age" value="21"></property>

        <!-- assign the reference (setter injection) -->
        <property name="laptop" ref="laptop"></property>

    </bean>

        <bean id="laptop" class="org.shivam.Laptop"></bean>

</beans>

