
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="alien" class="org.shivam.Alien" autowire="byName">
        <!-- assign the value 21 to age by calling the setter (setter injection) -->
         <property name="age" value="21"/>

        <!-- The sequence in which the constructors are defined should be same -->
        <!-- assign the value 21 to age by calling the constructor (constructor injection) -->
        <!-- <constructor-arg value="21"/> -->

        <!-- assign the reference (setter injection) -->
        <!-- <constructor-arg ref="laptop"/> -->

        <!-- assign the reference (setter injection) -->
<!--        Using autowire allows spring to connect automatically-->
        <!-- <property name="comp" ref="comp"/> -->

    </bean>

        <bean id="comp" class="org.shivam.Laptop"></bean>
        <bean id="comp1" class="org.shivam.Desktop"></bean>

</beans>

